.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 160px;
  justify-content: center;
}

.page-footer__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.page-footer__logo {
  display: none;
}

.page-footer__social-list {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  width: 141px;
  flex-wrap: wrap;
  margin: 0 auto;
  min-height: 80px;
}

.page-footer__social-link {
  padding: 0;
  display: block;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  margin: 0 30px;
  border-top: solid 1px #d3d3d3;
  min-height: 80px;
}

.page-footer__link {
  display: block;
  width: 27px;
  height: 34px;
  background-image: url("../../img/logo-htmlacademy.svg");
  margin-top: 25px;
  opacity: 0.7;
}

@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-around;
  }

  .page-footer__copyright {
    border-top: none;
    margin: 0;
  }

  .page-footer__wrapper {
    padding: 0 50px;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1150px;
    margin: 0 auto;
    min-height: 143px;
  }

  .page-footer__logo {
    display: flex;
    align-items: center;
  }

  .page-footer__social-list {
    margin: 0;
    margin-left: 80px;
  }

  .page-footer__link {
    margin-top: 58px;
  }
}

@media (min-width: 1150px) {
  .page-footer__logo:hover,
  .page-footer__logo:focus {
    fill: #46c1ae;
  }

  .page-footer__logo:active {
    fill: #46c1ae;
    opacity: 0.3;
  }

  .page-footer__icon--fb:hover,
  .page-footer__icon--fb:focus,
  .page-footer__icon--insta:hover,
  .page-footer__icon--insta:focus,
  .page-footer__icon--tw:hover,
  .page-footer__icon--tw:focus {
    fill: #46c1ae;
  }

  .page-footer__icon--fb:active,
  .page-footer__icon--insta:active,
  .page-footer__icon--tw:active {
    fill: #46c1ae;
    opacity: 0.3;
  }

  .page-footer__link:hover,
  .page-footer__link:focus {
    opacity: 1;
  }

  .page-footer__link:active {
    opacity: 0.3;
  }

  .page-footer__copyright:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
