.page-form__wrapper {
  padding: 0 30px;
}

.page-form__description {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.page-form__subtitle {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
  font-weight: 700;
}

.page-form__radio {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.page-form__checkbox {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}
