.product-week__wrapper {
  padding: 0 30px;
}

.product-week__category {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.product-week__title {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}

.product-week__description {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.product-week__list {
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.product-week__price {
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  text-align: center;
  font-weight: 700;
}
