body {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  color: #000000;
  font-size: 15px;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #444444;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  padding: 0;
}

img {
  max-width: 100%;
}

@media (min-width: 1150px) {
  .wrapper-desktop {
    max-width: 1150px;
    margin: 0 auto;
  }

  .button:hover {
    background-color: #444444;
    color: #ffffff;
    cursor: pointer;
  }

  .button:focus {
    background-color: #444444;
    color: #ffffff;
  }

  .button:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
